body {
  font-family: "open sans", sans-serif;
  margin: 0;
  padding: 0;
}

/* -------------Header part START------------*/

header {
  background-color: #1d2124;
  height: 70px;
  width: 100%;
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: space-between;
  align-items: center;
}

.new-naw {
  display: flex;
  justify-content: space-evenly;
  background-color: #89ca62;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  color: #000;
}

.new-naw p {
  color: #000;
  display: inline-block;
  padding: 10px;
  margin: 20px;
  background-color: rgb(198, 224, 103);
  border-radius: 8px;
  cursor: pointer;
}

.scroll-top {
  display: none;
  background-color: rgb(204, 65, 65);
  padding: 15px;
  border-radius: 8px;
  color: beige;
  position: fixed;
  bottom: 100px;
  right: 100px;
  cursor: pointer;
}

.slide-toggle {
  padding: 15px;
  background-color: blue;
  width: 100px;
  text-align: center;
  margin: 20px auto;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgb(227, 230, 208);
}

header li {
  list-style: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
}

header ul {
  width: 700px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.header-left {
  margin-left: 33px;
  font-size: 22px;
  font-weight: 700;
}

.header-left:before {
  content: url(..//img/logo-img@1X.png);
  margin-right: 20px;
}

.header-right {
  background: url(../img/fa-search.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 70px;
  background-color: rgb(0, 0, 0);
}

/* -----------------Header part OVER----------------- */

/* ------------STICKY IMG1 START------------- */

.sticky-img1 {
  background: linear-gradient( rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../img/header-bg.jpeg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  font-size: 27px;
}

.sticky-img1 a {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  width: 170px;
  height: 55px;
  margin: 0 10px;
  outline: none;
  border-radius: 6px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.buttons {
  margin-top: 45px;
}

.left-button {
  background-color: #89ca62;
}

.left-button span {
  display: inline-block;
  margin-top: 15px;
}

.right-button {
  background-color: #14b9d5;
}

.right-button span {
  display: inline-block;
  margin-top: 15px;
}

/* ----------STICKY IM1 END---------- */

/* --------------FIRST SECTION START-------------- */

.conteiner {
  width: 1170px;
  margin: 50px auto;
}

.most-popular {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 900px;
  flex-direction: column;
  align-content: space-between;
  color: black;
}

.most-popular div {
  width: 370px;
  margin: 20px 0;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

section>p {
  font-size: 27px;
  color: #18b4cf;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

/* ------------STICKY IMG2 START------------- */

.sticky-img2 {
  background: linear-gradient( rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(../img/bgimg2.png);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(255, 255, 255);
  font-size: 27px;
  background-attachment: fixed;
}

.sticky-img2>p {
  margin: 0;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
}

.blue-lane {
  content: "";
  width: 60px;
  border: #18b4cf solid 1.5px;
  margin-top: 45px;
  margin-bottom: 55px;
}

.logo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.logo1 {
  margin-right: 20px;
}

/* ------------STICKY IMG2 END------------- */

.blue-text {
  color: #18b4cf;
  font-size: 27px;
  text-transform: uppercase;
  margin: 55px;
  text-align: center;
  font-weight: 700;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.gallery img {
  width: calc(99vw/7);
}

.bot-grid-section {
  font-family: "open sans", sans-serif;
  margin: 50px auto;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr 1.4;
  align-items: flex-start;
  grid-gap: 60px;
  text-align: right;
  justify-content: center;
  grid-template-areas: "a1 a1 a1 a2" "a3 a3 a4 a4" "a5 a5 a6 a6" "a7 a8 a8 a8"
}

.bot-grid-section img {
  width: 100%;
}

.article1 {
  grid-area: a1;
  display: flex;
  align-items: center;
}

.article2 {
  grid-area: a2;
  text-align: center;
}

.article3 {
  grid-area: a3;
}

.article4 {
  grid-area: a4;
}

.article5 {
  grid-area: a5;
}

.article6 {
  grid-area: a6;
}

.article7 {
  grid-area: a7;
  text-align: center;
}

.article8 {
  grid-area: a8;
  display: flex;
  align-items: center;
}

.grid-p-head {
  font-weight: 700;
  font-size: 18px;
}

.grid-p {
  font-size: 14px;
}

.article1-text {
  display: inline-block;
  width: 55%;
  padding: 0 20px;
}

.article1-img {
  display: inline-block;
  width: 40%;
}

.article8-text {
  display: inline-block;
  width: 55%;
  padding: 0 20px;
}

.article8-img {
  display: inline-block;
  width: 40%;
}

.gray-bcg {
  background-color: #f9f7f7;
}

footer {
  height: 80px;
  background-color: #1d2124;
}

.footer-items {
  display: grid;
  width: 1170px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  align-items: center;
}

.footer-left {
  color: white;
  font-size: 13px;
}

.footer-right {
  color: rgb(255, 255, 255);
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 22px;
  justify-self: end;
}

.footer-right::before {
  content: url(../img/f2.png);
}